html {
  font-family: $default-serif;
  font-size: 100%;
  font-weight: 400;
  line-height: $line-height-ratio;
  color: $font-color;
  background-color: $brand-purple;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
}

html,
body {
  height: 100%;
}

body {
  background-image: url('/images/europe.svg');
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: right top;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    color: #ffffff;
    text-decoration: underline;
  }
}

// Base styles for main content
h1,
h2,
h3,
h4,
h5 {
  font-weight: 100;
}

.container {
  width: 50%;
  padding: 9.5% 9.5% 0 9.5%;
  color: #ffffff;

  .logo {
    margin-bottom: 3.6em;

    &:before {
      content: "";
      width: 30px;
      height: 1px;
      display: block;
      background-color: #ffffff;
      position: relative;
      left: -45px;
      top: 11px;
    }

    span {
      position: relative;
      left: 110px;
      top: 21px;
      color: #ffffff;
      font-size: 1.1em;
    }
  }

  .logo, h1 {
    font-family: $headline-font;
    font-weight: 900;
  }

  h1 {
    float: left;
    font-size: 2.53333rem;
    line-height: 1.2em;
    margin-bottom: 0.3em;
  }

  h2 {
    clear: both;
    font-size: 1rem;
    margin-bottom: 3em;
  }
}
