html {
  font-family: $default-serif;
  font-size: 100%;
  font-weight: 400;
  line-height: $line-height-ratio;
  color: $font-color;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
}

html,
body {
  height: 100%;
}

body.index {

  background-color: $brand-purple;

  .page-head {
    background-color: transparent;
  }

  position: relative;

  & > .wrapper {
    position: relative;
    z-index: 1;
    background-color: $brand-purple;

    & > * {
      position: relative;
      z-index: 10;
    }
  }

  .main-content {
    z-index: 3;
  }

  & > .wrapper::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;

    background-image: url("/images/europe-cropped.svg");
    background-size: auto 100%;
    background-repeat: no-repeat;

    opacity: 0.2;
    visibility: visible;

    background-position: left top;

    pointer-events: none;

    @include mq($unstick-bg) {
      background-position: right top;
    }
    // Make the BG fully opaque
    @include mq($xl-large) {
      opacity: 1;
    }
  }
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    color: #ffffff;
    text-decoration: underline;
  }
}

// Base styles for main content
h1,
h2,
h3,
h4,
h5 {
  font-weight: 100;
}

.container {
  max-width: $max-width;
  margin: 0 auto;
  position: relative;
}

.home-container {
  width: 100%;
  padding: 10% 10% 0 10%;
  color: #ffffff;
  overflow: auto;

  .logo {
    margin-bottom: 3.6em;

    &:before {
      content: "";
      width: 30px;
      height: 1px;
      display: block;
      background-color: #ffffff;
      position: relative;
      left: -50px;
      top: 11px;
    }
  }

  .logo,
  h1 {
    font-family: $headline-font;
    font-weight: 900;
    max-width: 550px;
  }

  h1 {
    font-size: 2.4rem;
    line-height: 1.2em;
    margin-bottom: 0.3em;
    text-align: left;

    @include mq($large) {
      font-size: 2.6rem;
    }
  }

  h2 {
    clear: both;
    font-size: 1.5rem;
    margin-top: 1em;
  }

  h3 {
    clear: both;
    font-size: 1rem;
    margin-bottom: 3em;
  }

  @include mq($large) {
    width: 50%;
  }
}


.submit-talk {
  padding-top: 4em;
  color: rgb(47, 28, 70);
  font-size: 1;
  font-family: ocr-a-std, monospace;
  font-weight: 500;
  line-height: 1.6em;
  text-align: left;
  display: flex;


  @include mq($xl-large) {
    justify-content: space-around;
    flex-direction: row;
  }

  .submit-talk-button {
    font-family: ocr-a-std, monospace;
    font-weight: 600;
    color: $brand-purple;
    letter-spacing: 0.2em;
    background-color: #ffffff;
    display: inline-block;
    text-transform: uppercase;
    font-size: 0.8rem;
    line-height: 1.91667;
    text-align: center;
    border-width: 0px;
    padding: 0.5em 1em;
    border-radius: 0px;

    text-decoration: none;

    width: 100%;
    // TODO: Better solution
    @include mq($xl-large) {
      width: 48%;
    }


    &:hover {
      background-color: #a78bbe;
      color: #ffffff;
    }

    &:disabled {
      background-color: #a78bbe;
      color: #fff;

      &:hover {
        background-color: #a78bbe;
        color: #fff;
      }
    }
  }
}


.content-page {
  .content-container {
    max-width: 800px;
    background: #ffffff;
  }

  h1 {
    margin-bottom: 1em;
    @include font-size(19px);
    text-transform: uppercase;
  }

  p {
    margin-bottom: 3em;
  }

  ul {
    margin-bottom: 2em;

    li {
      @include font-size(13px);
      color: $brand-grey;
      a {
      }
    }
  }
}

.main-content {
  li {
    @include font-size(16px);
    line-height: 1.6em;
  }

  p {
    @include font-size(13px);
    line-height: 1.8em;
    color: $brand-grey;

    a {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .container {
    padding: 3em 2em;

    @include mq($medium) {
      padding: 4em 2em;
    }

    @include mq($large) {
      padding: 6em 2em;
    }
  }
}
