html {
  font-family: $default-serif;
  font-size: 100%;
  font-weight: 400;
  line-height: $line-height-ratio;
  color: $font-color;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  overflow-x: hidden;
}

html,
body {
  height: 100%;
}

body {
  background-color: $brand-purple;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    color: #ffffff;
    text-decoration: underline;
  }
}

// Base styles for main content
h1,
h2,
h3,
h4,
h5 {
  font-weight: 100;
}

.container {
  width: 100%;
  padding: 10% 10% 0 10%;
  color: #ffffff;

  @include mq($med-large) {
    width: 50%;
    padding: 10% 9.5% 0 9.5%;
  }

  .logo {
    margin-bottom: 3.6em;

    &:before {
      content: "";
      width: 30px;
      height: 1px;
      display: block;
      background-color: #ffffff;
      position: relative;
      left: -45px;
      top: 11px;
    }

    span {
      position: relative;
      left: 110px;
      top: 21px;
      color: #ffffff;
      font-size: 1.1em;
    }
  }

  .logo, h1 {
    font-family: $headline-font;
    font-weight: 900;
  }

  h1 {
    float: left;
    font-size: 2.5rem;
    line-height: 1.2em;
    margin-bottom: 0.3em;
    text-align: center;

    @include mq($med-large) {
      width:600px;
      text-align: left;
    }
  }

  h2 {
    clear: both;
    font-size: 1rem;
    margin-bottom: 3em;
    text-align: center;

    @include mq($med-large) {
      text-align: left;
    }

    .break {
      display: none;
      text-align: center;
      @include mq($med-large) {
        display: block;
      }
    }
  }
}
