// Page Header
.page-head {
  z-index: 10;
  width: 100%;
  background-color: $brand-purple;

  .container {
    @extend %clearfix;
    @include mq($med-large) {
      padding: 2em;
    }

    @include mq($large) {
      padding: 2.8em 2em;
    }
  }
}

.logo {
  width: 147px;
  height: 25px;
  margin-top: 1.6em;
  margin-bottom: 1em;
  display: block;
  @extend %logo-white;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 147px;

  @include mq($tiny) {
  }

  @include mq($med-large) {
    margin: 0;
  }

  @include mq($x-large) {
  }
}

.menu-btn {
  @extend %device-menu-btn-open;
  width: 70px;
  height: 65px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 66%;
  display: block;
  position: absolute;
  top: 6px;
  right: 0px;
  z-index: 100;

  &:hover {
  }

  @include mq($med-large) {
    display: none;
  }
}

.page-head__nav {
  position: absolute;
  top: 0;
  z-index: 20;
  clear: both;
  width: 100%;
  background-color: $brand-purple-light;
  text-align: center;
  padding: 2em 0;

  @include mq($med-large) {
    position: static;
    clear: right;
    float: right;
    background: none;
    width: auto;
    padding: 0;
    border: 0;
  }

  li {
    @include mq($med-large) {
      border: 0;
      display: inline-block;
      margin-left: 1em;

      &:first-child {
        margin-left: 0;
      }
    }

    @include mq($large) {
      margin-left: 2em;

      &:first-child {
        margin-left: 0;
      }
    }

    a {
      font-family: $default-serif;
      @include transition-all;
      display: block;
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      @include font-size(18px);
      font-weight: 400;
      padding: 1em;

      @include mq($med-large) {
        @include font-size(12px);
        padding: 0;
      }

      &.signup-btn {
        @include mq($med-large) {
          @include btn;
          opacity: 1;
          color: #2e1e43;
          padding: 0.4em 1.6em;
          border-color: #fff;

          &:hover {
            color: #ff8c67 !important;
          }
        }
      }
    }

    a:hover,
    &.selected a {
      text-decoration: none;
      background: rgba(225, 225, 225, 0.1);

      @include mq($med-large) {
        opacity: 1;
        text-decoration: none;
        background: 0;
        color: $brand-pink;
      }
    }
  }
}
