.subscribe-card {
  color: rgb(47, 28, 70);
  font-size: 1;
  font-family: ocr-a-std, monospace;
  font-weight: 500;
  line-height: 1.6em;
  text-align: left;

  input::placeholder {
    color: #ffffff;
  }

  .email-input {
    min-width: 50%;
    font-size: 0.8rem;
    line-height: 2em;
    font-family: ocr-a-std, monospace;
    -webkit-appearance: none;
    background-color: #a78bbe;
    color: #ffffff;
    margin-right: 10px;
    border-radius: 0px;
    padding: 0.5em 1em;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    outline: none;
  }
  .email-input:focus {
    color: $brand-purple;
    background-color: #ffffff;
    transition: all 0.2s ease-out 0s;
  }

  .submit-button {
    font-family: ocr-a-std, monospace;
    font-weight: 600;
    color: $brand-purple;
    letter-spacing: 0.2em;
    background-color: #ffffff;
    display: inline-block;
    text-transform: uppercase;
    font-size: 0.8rem;
    line-height: 1.91667;
    text-align: center;
    border-width: 0px;
    padding: 0.5em 1em;
  }
  .submit-button:hover {
    background-color: #a78bbe;
    color: #ffffff;
  }
}

.sponsor {
  display: block;
  margin: 3em 0;
}
