.subscribe-card {
  color: rgb(47, 28, 70);
  font-size: 1;
  font-family: ocr-a-std, monospace;
  font-weight: 500;
  line-height: 1.6em;
  text-align: left;
  display: flex;

  input::placeholder {
    color: #ffffff;
  }

  form {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .email-input {
    font-size: 0.8rem;
    line-height: 2em;
    font-family: ocr-a-std, monospace;
    -webkit-appearance: none;
    background-color: #a78bbe;
    color: #ffffff;
    border-radius: 0px;
    padding: 0.5em 1em;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    outline: none;
    margin-bottom: 0.5em;
    border: 1px solid $brand-purple;

    &:focus {
      color: $brand-purple;
      background-color: #ffffff;
      transition: all 0.2s ease-out 0s;
    }
  }

  .submit-button {
    font-family: ocr-a-std, monospace;
    font-weight: 600;
    color: $brand-purple;
    letter-spacing: 0.2em;
    background-color: #ffffff;
    display: inline-block;
    text-transform: uppercase;
    font-size: 0.8rem;
    line-height: 1.91667;
    text-align: center;
    border-width: 0px;
    padding: 0.5em 1em;

    &:hover {
      background-color: #a78bbe;
      color: #ffffff;
    }
  }

  @include mq($xl-large) {
    .email-input {
      margin-bottom: 0;
    }

    form {
      justify-content: space-around;
      flex-direction: row;
    }

    form > * {
      width: 48%;
    }
  }
}

.sponsor {
  display: block;
  margin: 3em 0;
  font-size: 0.9rem;
}
