---
title: Demuxed, The Conference for Video Engineers
---

%section.home-hero
  %div.container
    %div.home-hero__text
      %div
        %a.logo{href: "/index.html"}
          %span Europe
      %div
        %h1.home-hero__heading
          A 1 day event for video engineers
      %h2.home-hero__sub-heading
        May 2020
        %br.break
        Central London, UK
      %div.subscribe-card
        <form action="https://demuxed.us14.list-manage.com/subscribe/post?u=7bbc679a78def4588e1661330&id=4d4cb1d884" method="post" id="mc-embedded-subscribe-form" target="_blank">
        <input type="email" required="" name="EMAIL" placeholder="Your email address" class="email-input">
        <input class="submit-button" type="submit" value="Keep me updated!" />
        </form>
      %a.sponsor{href: "https://airtable.com/shrW2AfJeBYraURIy"}
        I want to sponsor!
