---
title: Demuxed Europe, A one day event for video engineers
---

%section.home-hero
  %div.container
    %div.home-hero__text
      %a.logo{}
        %span Europe
      %h1.home-hero__heading
        A one day event for video engineers
      %h2.home-hero__sub-heading
        May 2020
        %br.break
        Central London, UK
      %div.subscribe-card
        <form onsubmit="submit(); return false;">
        <input type="email" required="" name="EMAIL" placeholder="Your email address" class="email-input">
        <input class="submit-button" type="submit" value="Keep me updated!"/>
        </form>
      %a.sponsor{href: "https://airtable.com/shrifhOafnFE9A0MT", target: "_blank", rel:"noopener"}
        I want to sponsor!
      :javascript
            function submit() {
              console.log("hi");
            }