---
title: Demuxed Europe, A one day event for video engineers
---

%section.home-hero
  %div.home-container
    %div.home-hero__text
      %a.logo{}
        %span Europe
      %h1.home-hero__heading
        A one day event for video engineers
      %h2
        13th May 2020
      %h3
        British Library, London, UK
        %br.break
        %br.break
        Premuxed evening event: 12th May
      %div.subscribe-card
        %form#interest
          %input.email-input{type: "email", required: true, name: "EMAIL", placeholder: "Your email address"}
          %input.submit-button{type: "submit", value: "Keep me updated!"}
      %div.submit-talk
        %a.submit-talk-button{href: "submit"} Submit a Talk
      %a.sponsor{href: "https://airtable.com/shrifhOafnFE9A0MT", target: "_blank", rel:"noopener"}
        I want to sponsor!

%script{src: "/javascripts/all.js"}
