---
title: Demuxed Europe, A one day event for video engineers
---

%section.home-hero
  %div.home-container
    %div.home-hero__text
      %a.logo{}
      %h1.home-hero__heading
        A one day event for video engineers
      %h2
        13th May 2020
      %h3
        British Library, London, UK
        %br.break
        %br.break
        Premuxed evening event: 12th May
      %div.cta-wrapper
        %a.cta-button{href: "submit"} Submit a Talk
        %a.cta-button{href: "https://ti.to/demuxed/europe-2020"} Buy tickets
