---
title: Demuxed Europe has been cancelled.
---

= partial 'partials/header'

%section.content-page
  %div.container.content-container
    %h1
      BRB, social distancing
    %h2
      TL;DR: Cancelled
    %p
      We want to make sure that members of the video developer community and their families are safe and healthy. As such, we’re cancelling Demuxed Europe 2020 based on the expected peak dates of the COVID-19 outbreak in the UK.
    %h2
      The Long Version
    %p
      The health and safety of the attendees of any Demuxed event is very important to us, we also care deeply about the family and friends of our attendees. We strongly believe that we have a social responsibility to the health of the general public.
    %p
      We’ve been monitoring the circumstances surrounding COVID-19 closely, and based on the current forecasting by the British government, we’re expecting the peak of the outbreak to be at the same time as we’re planning Demuxed Europe.
    %p
      Unfortunately this means that we’ve made the heartbreaking decision to cancel Demuxed Europe for 2020. We’ll be refunding all tickets and sponsorships.
    %p
      We do this with an extremely heavy heart, but Demuxed Europe will be back in 2021, and it’s going to be bigger, better, and (hopefully) pandemic free. In the meantime we’ll hopefully be seeing many of you in San Francisco for Demuxed 2020.
    %p
      Please stay healthy and do your part to help <a href="https://www.vox.com/2020/3/10/21171481/coronavirus-us-cases-quarantine-cancellation" >flatten the curve</a>.
    %p
      Phil and Matt.
    %h2
      FAQ
    %h3
      Will I get a refund? Do I need to ask for a refund?
    %p
      We’ll refund all tickets automatically over the next couple of days. Please reach out on <a href="mailto:info@demuxed.com">info@demuxed.com</a> if you have any further questions.
    %h3
      Why are you cancelling now? Why not wait and see how things pan out?
    %p
      Unfortunately we don’t have the luxury of waiting and seeing. To keep Demuxed events accessible to the community we work hard to keep ticket prices low, and work on a very tight budget. The longer we wait, the more sunk costs we have.
    %h3
      Why not hold Demuxed Europe online?
    %p
      It’s a valid question considering we are a conference around video, but honestly we don’t want our first satellite event to be online only. It would be uncharted territory for us as organizers and we don’t feel confident that we could provide the best experience for our attendees or speakers. We’d prefer to come back next year, and do something bigger and more exciting.
    %p
      That said, we are talking about running a standalone event online with a different format to a traditional Demuxed. When we have more formulated ideas, we’ll post them on <a href="https://twitter.com/demuxed">Twitter</a>.
    %h3
      What about the main Demuxed in October?
    %p
      We’re fully expecting Demuxed 2020 in San Francisco to go ahead as planned, just with a lot of hand washing (which we’ve all totally been doing all along, just like flossing...) We even have a <a href="https://old.reddit.com/r/funny/comments/fhkl6r/for_fun_i_build_out_fake_product_idea_so_i_built/">great idea for swag</a> already.
    %h3
      What about that amazing talk I submitted?
    %p
      There’s some really great content in there, and we’re going to hang on to them for now while we decide if we’re going to run an online event later this year. If you want a copy of what you submitted, please do <a href="mailto:info@demuxed.com">reach out to us</a>, and remember, they’d all make amazing talks at your local video tech meetup.


= partial 'partials/footer'