---
title: Demuxed, The Conference for Video Engineers
---

%section.home-hero
  %div.container
    %div.home-hero__text
      %a.logo{href: "/index.html"}
      %h1.home-hero__heading
        The Conference for Video Engineers
      %h2.home-hero__sub-heading
        May 2020
        %br.break
        Central London, UK
      %div.subscribe-card
        <img src="data:image/svg+xml;base64,PHN2ZyBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA1OSA1OSIgaGVpZ2h0PSI1OSIgdmlld0JveD0iMCAwIDU5IDU5IiB3aWR0aD0iNTkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjZmQ3Y2ZjIiBzdHJva2UtbWl0ZXJsaW1pdD0iMTAiPjxjaXJjbGUgY3g9IjI5LjUiIGN5PSIyOS41IiByPSIyOCIgc3Ryb2tlLXdpZHRoPSIzIi8+PGcgc3Ryb2tlLXdpZHRoPSIyIj48cGF0aCBkPSJtMzguMyAyMC44aC0xNy42Yy0xLjIgMC0yLjIgMS0yLjIgMi4zdjEyLjhjMCAxLjMgMSAyLjMgMi4yIDIuM2gxNy42YzEuMiAwIDIuMi0xIDIuMi0yLjN2LTEyLjhjMC0xLjMtMS0yLjMtMi4yLTIuM3oiLz48cGF0aCBkPSJtMzkuOCAyMS41LTEwLjMgMTAuNy0xMC4zLTEwLjciLz48cGF0aCBkPSJtMzMuMSAyOC40IDcuNCA3LjciLz48cGF0aCBkPSJtMTguNSAzNi4xIDcuNC03LjciLz48L2c+PC9nPjwvc3ZnPg==" alt="Subscribe Illustration" />
        <div class="subscribe">Subscribe to get updates on <br/>Demuxed Europe</div>
        <form action="https://demuxed.us14.list-manage.com/subscribe/post?u=7bbc679a78def4588e1661330&id=4d4cb1d884" method="post" id="mc-embedded-subscribe-form" target="_blank">
        <div aria-hidden="true" >
        </div>
        <input type="email" required="" name="EMAIL" placeholder="your email address" class="email-input">
        <input class="submit-button" type="submit" value="Go" />
        </form>

    = image_tag("/images/logo-avatar.svg", alt: "Demuxed X Illustration", class: "hero-illustration")

